<h1>Editing splash screen</h1>

<%= render "form", splash_screen: @splash_screen %>

<br>

<div>
  <%= link_to "Show this splash screen", @splash_screen %> |
  <%= link_to "Back to splash screens", splash_screens_path %>
</div>
