<p style="color: green"><%= notice %></p>

<h1>Splash screens</h1>

<div id="splash_screens">
  <% @splash_screens.each do |splash_screen| %>
    <%= render splash_screen %>
    <p>
      <%= link_to "Show this splash screen", splash_screen %>
    </p>
  <% end %>
</div>

<%= link_to "New splash screen", new_splash_screen_path %>
