<main id="splash_screens">
  <h4>Welcome to SaveIt ✨</h4>
  <div class="design">
    <%= image_tag 'Payment.png', class: "payment" %>
  </div>
  <div class="details">
      <div class="title">
        <h2 class="saveit"> SaveIt! </h2>
          <p class="slogan">"Save Money, Live Better"</p>
          <p class="para">Every entry unlocks savings potential, guiding you toward financial security and a brighter future.</p>
      </div>
      <div class="buttons">
      <%= link_to "Sign in","" ,class: "login btn btn-success  " %>
      <%= link_to "Sign Up","", class: "btn btn-secondary register" %>
    </div>
  </div>
</main>
