<div id="spends">
  <h1>Spends</h1>
  <h2><%=@category.name.capitalize %> Transactions</h2>
   <div> <%= link_to "Back to categories", categories_path %> </div>
  <% @spends.each do |spend| %>
    <%= render spend %>
  <% end %>
</div>

<%= link_to "New spend", new_category_spend_path, class: "new-category" %>
