#spends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 15px;
  color: #434b54;
  background-color: #eee;
  height: 100vh;
}

.head-2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 33px;
  color: #b9c4d1;
  background-color: #3778c2;
  padding-top: 10px;
  width: 100%;
  height: 58px;
  text-align: center;
}

.total {
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 32px;
  color: #434b54;
  font-family: monospace, circular, sans-serif;
  background-color: #fff;
  border: 2px solid rgb(216, 213, 213);
  border-radius: 8px;
  padding: 6px;
  padding-bottom: 0;
}

.t-spend {
  color: #3778c2;
  font-weight: 600;
  font-size: 25px;
  word-wrap: normal;
}

.t-value {
  font-size: 24px;
}

.spend-group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 96%;
  max-width: 850px;
  margin: 1px auto;
}

.spend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px solid rgb(202, 202, 226);
  padding: 10px;
}

.spend-name {
  color: #434b54;
  opacity: 0.7;
  font-weight: 500;
  margin-left: 0;
}

.spend-created {
  font-style: italic;
  max-width: 73%;
  word-wrap: normal;
}

.spend-amount {
  font-weight: 500;
  font-family: monospace, circular, sans-serif;
  color: #434b54;

  /* min-width: 130px; */
  position: relative;
  bottom: 20px;
}

.created-at {
  color: rgb(115, 122, 122);
}

.extra {
  text-align: left;
  min-width: 120px;
}
