 <% if user_signed_in?%>
  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
  <%= image_tag "switch.png", alt: "Sign Out", class: "switch back-top " %>
  <% end %>
<% end %>

<div id="categories">
  <h2 class="head-2">Categories</h2>
   <div class="category-group">
   <% @categories.each do |category| %>
    <%= render category %>
  <% end %>
  </div>


<%= link_to "New category", new_category_path, class: "btn btn-secondary" %>
</div>