<div class="container mt-3">
  <div>
    <%= link_to categories_path, class: "no-deco" do %>
      <%= image_tag "previous.png", alt: "back button", class: "back" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-left">
      <h2 class="text-center mb-3">New Category</h2>
      <%= render "form", category: @category %>
      <%# <div class="text-center mt-3">
        <%= link_to "Back to Categories", categories_path, class: "btn btn-secondary btn-sm" %>
      <%# </div> %> 
    </div>
  </div>
</div>